.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background: rgb(211, 244, 255);
    color: #1D428A;
}
.nav-links {
    list-style: none;
    margin-right: 15px;
}
.search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 5vh;
    background: rgb(255, 115, 115);
    color: black;
}
.search-input {
    margin-right: 10px;
    border: none;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}
.headerImg {
    display: flex;
    width: 100%;
}
.nbalogo {
    display: flex;
    height: 10vh;
}